@charset "UTF-8";

* {
	margin: 10px 20px;
}
/*h2 태그와 h4태그를 동시에 선택자로 지정 가로사이즈를 화면의 45% 경계선 1px 실선 초록색  경계선과 내용사이의 여백을 지정 상하 80px 좌우 30px*/
h2, h4 {
	width: 45%;
	border: 1px solid green;
	padding: 80px 30px;
}

h2{
	color: maroon;
}